MONGO_URI=<PUT YOUR MONGODB CONNECTION STRING>
PORT=3001

JWT_SECRET=<PUT YOUR JWT SECRET KEY>

MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=<PUT YOUR EMAIL>
MAIL_PASSWORD=<PUT YOUR EMAIL APP PASSWORD>

APIFY_API_KEY=<PUT YOUR APIFY API KEY>